@model ticketswap.Models.TICKET
@{
    ViewBag.Title = "add";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TICKET INFO:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
             <!--Html.LabelFor(model => model.TICKET_FILE_LOCATION, htmlAttributes: new { class = "control-label col-md-2" }) -->
            <div class="col-md-10">
                <h3>Ticket Code: </h3>
                @Html.EditorFor(model => model.TICKET_FILE_LOCATION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TICKET_FILE_LOCATION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h4>Ticket Price: $</h4>
                @Html.EditorFor(model => model.TICKET_PRICE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TICKET_PRICE, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
    </div>
}




<div class="footer">
    <h2>&#169 ticketswap.com</h2>
</div>
</body>
</html>














