@model IEnumerable<ticketswap.Models.TICKET>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EVENT_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SELLER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TICKET_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TICKET_FILE_LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TICKET_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TICKET_ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TICKET_SOLD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EVENT_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SELLER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TICKET_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TICKET_FILE_LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TICKET_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TICKET_ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TICKET_SOLD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TICKET_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TICKET_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TICKET_ID })
        </td>
    </tr>
}

</table>
