@model List<ticketswap.ViewModels.eventViewModel>
<!--------------------------------------------------------------------------------->

<head>


    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>



    <h2><b><center>Events</center></b></h2>

    <table style="width:98%" align="center" height="100%">


        @try
        {
            foreach (var item in Model)
            {

            <tr style="width:30%">
                <td>
                    Date and Time: @Html.DisplayFor(modelItem => item.EVENT_DATE)
                    @Html.DisplayFor(modelItem => item.EVENT_TIME)
                </td>
                <td>
                    Location
                    @Html.DisplayFor(modelItem => item.EVENT_CITY)
                </td>
                <td>
                    Category: 
                    @Html.DisplayFor(modelItem => item.CATEGORY_ID)
                </td>
                <td>
                    @Html.ActionLink("View", "View", new { id = item.EVENT_ID })
                    @Html.ActionLink("Order", "Order", new { id = item.EVENT_ID })
                </td>
            </tr>
            }
        }
        catch
        {
            <h3>No Events Found</h3>
        }
        </tr>
    </table>
</body>
</html>







<!------------------------------------------------------------------------------------>




