@model ticketswap.ViewModels.eventViewModel

@{
    ViewBag.Title = "View";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: Arial;
        font-size: 17px;
        padding: 8px;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    }

    .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
    }

    .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
    }

    .col-25,
    .col-50,
    .col-75 {
        padding: 0 16px;
    }

    .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }

    input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    label {
        margin-bottom: 10px;
        display: block;
    }

    .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
    }

    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
    }

        .btn:hover {
            background-color: #45a049;
        }

    a {
        color: #2196F3;
    }

    hr {
        border: 1px solid lightgrey;
    }

    span.price {
        float: right;
        color: grey;
    }
</style>

<h2>Event Details</h2>

<div class="row">
    <div class="col-50">
        <div class="container">
            @using (Html.BeginForm("Create", "TICKET", new { id = Model.EVENT_ID }, FormMethod.Get))
            {
                <input type="submit" value="Sell Ticket For This Event" class="btn">
            }
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-75">
        <div class="container">
            <h4>Event Details: </h4>
            <p><a href="#">@Html.DisplayFor(model => model.EVENT_NAME)</a></p>
            @Html.DisplayFor(model => model.EVENT_DESCRIPTION)
            <hr>
            @Html.DisplayFor(model => model.EVENT_DATE)
            @Html.DisplayFor(model => model.EVENT_TIME)
            <hr />
            <br />
            @Html.DisplayFor(model => model.EVENT_ADDRESS)
            @Html.DisplayFor(model => model.EVENT_CITY)
            @Html.DisplayFor(model => model.EVENT_STATE)
            <hr>
            <br />
            Ticket Type:
            @Html.DisplayFor(model => model.CATEGORY_ID)
            <hr>
            @using (Html.BeginForm("Details", "ORDER", new { id = Model.EVENT_ID }, FormMethod.Get))
            {
                <input type="submit" value="Buy Tickets" class="btn">
            }
        </div>
    </div>
</div>



<div>
    <h4>EVENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EVENT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_TIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_TIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_VENUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_VENUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_ZIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_ZIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_COUNTRY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_ICON_LOCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_ICON_LOCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVENT_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENT_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EVENT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
